<center>
  <table
    id="hnmain"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="85%"
    bgcolor="#f6f6ef">
    <tbody>
      {{> main-header}}

      <tr
        id="pagespace"
        title="{{news.tagline}}"
        style="height:10px">
      </tr>

      <tr>
        <td>
          <table
            class="fatitem"
            border="0">
            <tbody>
              <tr
                id="28357620"
                class="athing">
                <td
                  class="title"
                  align="right"
                  valign="top">
                  <span class="rank"></span>
                </td>

                <td
                  class="votelinks"
                  valign="top">
                  <center>
                    <a
                      id="up_28357620"
                      href="vote?id=28357620&how=up&auth=a3bd5e72a456ca2e69eba6c0455c32ac0b289245&goto=item%3Fid%3D28357620"
                      onclick="return vote(event, this, "up")">
                      <div
                        class="votearrow"
                        title="upvote">
                      </div>
                    </a>
                  </center>
                </td>

                <td class="title">
                  <a
                    class="storylink"
                    href="{{news.url}}">
                    {{news.tagline}}
                  </a>

                  <span class="sitebit comhead">
                    (

                    <a href="from?site={{news.address}}"><span class="sitestr">{{news.address}}</span></a>

                    )
                  </span>
                </td>
              </tr>

              <tr>
                <td colspan="2"></td>

                <td class="subtext">
                  <span
                    id="score_28357620"
                    class="score">
                    {{news.points}} points
                  </span>

                  by

                  <a
                    class="hnuser"
                    href="user?id=jhatax">
                    jhatax
                  </a>

                  <span
                    class="age"
                    title="2021-08-30T16:42:40">
                    <a href="item?id=28357620">{{news.displayDate}}</a>
                  </span>

                  <span id="unv_28357620"></span>

                  |

                  <a href="hide?id=28357620&auth=a3bd5e72a456ca2e69eba6c0455c32ac0b289245&goto=item%3Fid%3D28357620">
                    hide
                  </a>

                  |

                  <a
                    class="hnpast"
                    href="https://hn.algolia.com/?query=European%20Union%20recommends%20halting%20non-essential%20travel%20from%20the%20U.S.&type=story&dateRange=all&sort=byDate&storyText=false&prefix&page=0">
                    past
                  </a>

                  |

                  <a href="fave?id=28357620&auth=a3bd5e72a456ca2e69eba6c0455c32ac0b289245">
                    favorite
                  </a>

                  |

                  <a href="item?id=28357620">56 comments</a>
                </td>
              </tr>

              <tr style="height:10px"></tr>

              <tr>
                <td colspan="2"></td>

                <td>
                  <form
                    action="comment"
                    method="post">
                    <input
                      name="parent"
                      type="hidden"
                      value="28357620"/>
                    <input
                      name="goto"
                      type="hidden"
                      value="item?id=28357620"/>
                    <input
                      name="hmac"
                      type="hidden"
                      value="1e24a26a232c8ce95dd9d32338da559db409cfa4"/>
                    <textarea
                      name="text"
                      rows="6"
                      cols="60">
                    </textarea>

                    <br/>

                    <br/>

                    <input
                      type="submit"
                      value="add comment"/>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>

          <br/>

          <br/>

          <table
            class="comment-tree"
            border="0">
            <tbody>
              {{#each comments}}
              <tr
                id="28358119"
                class="athing comtr">
                <td>
                  <table border="0">
                    <tbody>
                      <tr>
                        <td class="ind">
                          <img
                            src="s.gif"
                            height="1"
                            width="0"/>
                        </td>

                        <td
                          class="votelinks"
                          valign="top">
                          <center>
                            <a
                              id="up_28358119"
                              href="vote?id=28358119&how=up&auth=3b05b39e7e8b8027078750ba85bf55ef9f34432c&goto=item%3Fid%3D28357620#28358119"
                              onclick="return vote(event, this, "up")">
                              <div
                                class="votearrow"
                                title="upvote">
                              </div>
                            </a>
                          </center>
                        </td>

                        <td class="default">
                          <div style="margin-top:2px; margin-bottom:-10px;">
                            <span class="comhead">
                              <a
                                class="hnuser"
                                href="user?id=kingsloi">
                                {{this.user.acct}}
                              </a>

                              <span
                                class="age"
                                title="2021-08-30T17:14:33">
                                <a href="item?id=28358119">{{this.displayDate}}</a>
                              </span>

                              <span id="unv_28358119"></span>

                              <span class="par"></span>

                              <a
                                class="togg"
                                href="javascript:void(0)"
                                n="3"
                                onclick="return toggle(event, 28358119)">
                                [–]
                              </a>

                              <span class="storyon"></span>
                            </span>
                          </div>

                          <br/>

                          <div class="comment">
                            <span class="commtext c00">
                              {{this.message}}

                              <div class="reply">
                                <p>
                                  <font size="1">
                                    <u>
                                      <a href="reply?id=28358119&goto=item%3Fid%3D28357620%2328358119">
                                        reply
                                      </a>
                                    </u>
                                  </font>
                                </p>
                              </div>
                            </span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <br/>

          <br/>
        </td>
      </tr>

      <tr>
        <td>
          <img
            src="s.gif"
            height="10"
            width="0"/>
          <table
            width="100%"
            cellspacing="0"
            cellpadding="1">
            <tbody><tr><td bgcolor="#ff6600"></td></tr></tbody>
          </table>

          <br/>

          <center>
            <a href="https://www.ycombinator.com/apply/">
              Applications are open for YC Winter 2022
            </a>
          </center>

          <br/>

          <center>
            <span class="yclinks">
              <a href="newsguidelines.html">Guidelines</a>

              |

              <a href="newsfaq.html">FAQ</a>

              |

              <a href="lists">Lists</a>

              |

              <a href="https://github.com/HackerNews/API">API</a>

              |

              <a href="security.html">Security</a>

              |

              <a href="http://www.ycombinator.com/legal/">Legal</a>

              |

              <a href="http://www.ycombinator.com/apply/">Apply to YC</a>

              |

              <a href="mailto:hn@ycombinator.com">Contact</a>
            </span>

            <br/>

            <br/>

            <form
              action="//hn.algolia.com/"
              method="get">
              Search:

              <input
                autocomplete="false"
                name="q"
                type="text"
                value
                size="17"
                autocorrect="off"
                spellcheck="false"
                autocapitalize="off"/>
            </form>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</center>

<script
  src="hn.js?e4TTZo68HcOy5uQfOsmc"
  type="text/javascript">
</script>
