<center>
    <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
            {{> main-header}}
            {{#each news}}
            <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                    <tbody>
                        <tr class="athing" id="28249977">
                            <td align="right" valign="top" class="title">
                                <span class="rank">{{this.rank}}.</span>
                            </td>
                            <td valign="top" class="votelinks">
                                <center>
                                    <a id="up_28249977" href="vote?id=28249977&amp;how=up&amp;goto=news">
                                        <div class="votearrow" title="upvote"></div>
                                    </a>
                                </center>
                            </td>
                            <td class="title">
                                <a href="{{this.url}}" class="storylink">{{this.tagline}}</a>
                                <span class="sitebit comhead"> (<a href="from?site={{this.address}}"><span class="sitestr">{{this.address}}</span></a>)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            </td>
                            <td class="subtext">
                                <span class="score" id="score_28249977">{{this.points}} points</span> by <a href="user?id=tosh" class="hnuser">tosh</a>
                                <span class="age" title="2021-08-20T18:57:31"><a href="item?id=28249977">{{this.displayDate}}</a></span>
                                <span id="unv_28249977"></span> | <a href="hide?id=28249977&amp;goto=news">hide</a> | <a href="item?id=28249977">214&nbsp;comments</a>
                            </td>
                        </tr>
                        <tr class="spacer" style="height:5px"></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</center>
